* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    color: deeppink;
    font-family: 'Courier New', Courier, monospace;
    align-items: center;
}
.container {
    margin: 20rem;
    padding: 8rem;
    border: 1rem dashed black;
    align-items: center;
    text-align: center;
}
div h1 {
    padding: 4px;
    font-size: 28px;
}
div p {
    padding: 4px;
    font-size: 16px;
}