* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    color: deeppink;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
}
div {
    display: inline-block;
    width: 30rem;
    height: auto;
    margin: 2rem;
    padding: 3rem;
    align-items: center;
    text-align: center;
}
.cabecera {
    background-color: lightyellow;
    color: maroon;
    border: 0.1rem solid black;

}
.container {
    border: 0.1rem dashed black;
    background-color: cornsilk;
}