* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    color: deeppink;
    font-family: 'Courier New', Courier, monospace;
    align-items: center;
    font-size: 2rem;
}
div {
    display: inline-block;
    width: 60rem;
    height: auto;
    align-items: center;
    text-align: center;
}
.container, .cabecera {
    background-color: lightyellow;
    color: maroon;
    width: cal(60rem - 1px);
    border: 0.1rem solid black;
    margin: 0.4rem;
}
.container {
    background-color: whitesmoke;
    margin-top: 0;
}
.container h1{
    font-size: 3rem;
    padding: 0.8rem;
    color: purple;
}
div p {
    padding: 0.8rem;
}